body{
    background-image: url('img/bg-light.jpg');
    background-repeat: repeat;
    background-size: 150%;
    background-position: center;
}
.jumbotron{
    padding: 6rem 1rem;
    background-color: #bdd8fa;
}
.container2{
    background-color: rgb(180, 183, 224);
    padding: 2rem 1rem;
    margin-left: 560px;
    margin-right: 560px;
    border-radius: 10px;
}
#about{
    padding: -5rem;
}
#projects{
    background-color: #bdd8fa;
    padding-top: 3rem;
}
.footer{
    background-color: rgb(99, 151, 214);
    padding-top: 15px;
    padding-bottom: 3px;
}
section{
    padding-top: 3rem;
}